* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    transition: background .7s linear; 
}
body{
    background:  #0d0d0d;
    /*1d2326*/
    color: #afafaf;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

input[type="checkbox"]{
    display: none;
}
#nav-bar{
    height: 5vh;
    width: 100vw;
    background-color: #0f0f0f;
    box-shadow: 0 0 4px #a8a8a89b;
}
.light #nav-bar{
    background-color: #e7e7e7;
    box-shadow: 0 0 4px #6969699b;
}
.light{
    background-color: #e7e7e7;
    color: #000;
}

.theme{
    padding: 2px 4px;
}
.bi{
    cursor: pointer;
}

.light .bi-sun{
    display: none;
}
.light .bi-moon{
    display: block;
}
#container{
    min-height: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
    padding: 1em .6em;
    background: #0a0a0a;
    height: auto;
    width: 25em;
    border-radius: 2.5em;
    box-sizing: border-box;
    box-shadow: 0 0 5px  #a8a8a89b;
    
}
.light #container{
    background-color: #d7d9cc;
    box-shadow: 0 0 4px #6969699b;
}
#content{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
#content-add-item{
    margin-top: 2em;
    display: flex;
    gap: 3em;
    flex-wrap: wrap;
}

#input-new-task, #btn-new-task{
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 1rem;
}


#input-new-task{
    height: .8em;
    width: 15em;
    padding-left: 1em;
    border-radius: .5em;
    background: #343A40;
    color: #efefef;
    font-weight: 700;
}
.light #input-new-task{
    background-color: #aeaeae;
    color: #0a0a0a;
}
#btn-new-task{
    height: 40px;
    width: 40px;
    background: #A1A69C;
    color: #efefef;
    border-radius: 50%;
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn-new-task:hover{
    background: #6E7371;
    border: none;
    cursor: pointer;
}
#btn-new-task:active{
    transform: scale(.95);
    background: #1A1E26;
}
#btn-new-task svg{
    transform: scale(2.4);
}

.light #btn-new-task{
    color: #0d0d0d;
}
#todo-list{
    background-color: #0f1011;
    display: flex;
    border-radius: 1rem;
    flex-direction: column;
    gap: .5em;
}
.light #todo-list{
    background-color: #aeaeae;
}
#todo-list li{
    list-style-type: none;
    font-weight: 600;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .4s;
    padding-left: 10px;
}
#todo-list li:hover{
    background: #121317;
    border-radius: 1rem;
    padding-left: 2rem;
    text-decoration: underline 1px #A1A69C;
}
.light #todo-list li:hover{
    background: #c5cac0;
    text-decoration: underline 1px #000;
}

#btn-ok{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #09F900;
    box-shadow: 0 0 20px #0DFD8E;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fafafa;
    transition: .4s;
}
#btn-ok:hover{
    background: #07C700;
    box-shadow: 0 0 20px #09AD32;
    cursor: pointer;
}
#btn-ok:active{
    transform: scale(.8);
    background: #048000;
    box-shadow: none;
}

